
.dontMoveY-axis{
    overflow-y:hidden;
}
#searchBar{
    bottom:100px;
}
#AddAdminDiv {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#AddAdminDiv form input {
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#AddAdminDiv form button {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#logoImage {
    height: 50px;
    width: 113px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bg-modal, .order-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.my-modal-content, .order-popup {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.popup-input {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.logIn-popup-close, .order-popup-close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    color: black;
}
